/* yaya-layui-admin-plus 首页css配置 2026/01/13 10:28:59;author:夜泊1990;email:hd1611756908@163.com;Licensed:MIT */
*{
    padding: 0;
    margin: 0;
}
/* 显示容器 */
.yaya-container{
    width: 97.5%;
    margin: 0 auto;
    border-radius: 10px;
}
/* 添加动画 */
.card-hover{
    transition: all 0.2s ease;
    cursor: pointer;
}
.card-hover:hover {
    transform: translateY(-2px);
}
/* 面板表单扩展 */
.yaya-panel{
    padding: 0 15px;
    background-color: white;
    border-radius: 4px;
}
.yaya-form-item{
    display: flex;
    height: 36px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}
.yaya-form-label{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: right;
    color: #606266;
    font-size: 14px;
}
.yaya-input-block{
    flex: 1;
    height: 36px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

}
.yaya-input-block>input{
    height: 36px;
}
.yaya-input-block>.layui-form-select{
    width: 100%;
}
/* 输入框获取焦点的颜色设置 */
.layui-input:focus,.layui-textarea:focus {
    border-color: #409eff!important;
    box-shadow: 0 0 0 3px rgba(22,183,119,.08)
}
/* 下拉框颜色设置 */
.layui-form-select dl dd.layui-this{
    color: #1e9fff;
}
/* 输入框圆角 */
.yaya-input-border-radius{
    border-radius: 5px;
}