<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <!-- 第三方图标库css -->
    <link rel="stylesheet" href="../font/iconfont.css">
    <title>yaya-admin-plus</title>
    <style>
        /* 分页页码显示 伪类 */
        .layui-laypage a:hover{
            color: #409eff;
        }
        /* 下拉框圆角 */
        .layui-form-select .layui-input{
            border-radius: 5px;
        }
        /* 弹出层圆角 */
        .layui-layer{
            border-radius: 10px;
        }
        /* 单选框颜色 */
        .layui-form-radio:hover>*, .layui-form-radioed, .layui-form-radioed>i{
            color: #409eff;
        }
    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="yaya-panel">
            <form class="layui-form" style="padding: 10px 0;">
                <div class="layui-row">
                    <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                        <label class="yaya-form-label">名称</label>
                        <div class="yaya-input-block">
                            <input type="text" name="noticeTitle" placeholder="公告标题" class="layui-input yaya-input-border-radius">
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                        <button type="button" class="yaya-btn yaya-primary" lay-submit lay-filter="search"><i class="iconfont icon-CRMEB-sousuo-xianxing" style="padding-right: 5px;"></i> 搜索</button>
                        <button type="reset" class="yaya-btn" style="margin-left: 10px;"><i class="iconfont icon-CRMEB-shuaxin1" style="padding-right: 5px;"></i> 重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="yaya-panel" style="margin-top: 15px;padding: 5px;">
            <!-- 表格显示 -->
            <table class="layui-hide" id="table-notice" lay-filter="table-notice"></table>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script src="../js/server.js"></script>
    <script>
        layui.use(function(){
            const $ = layui.$;
            const table = layui.table;
            const layer = layui.layer;
            const form = layui.form;

            //单元格工具栏事件
            table.on('tool(table-notice)', function(obj){
                //事件名称
                let event = obj.event;
                if(event=='detail'){
                    layer.open({
                        type: 2, // page 层类型 iframe
                        offset: '10px',
                        area: ['800px', '550px'],
                        title: '我的公告详情',
                        shade: 0.6, // 遮罩透明度
                        shadeClose: true, // 点击遮罩区域，关闭弹层
                        content: `notice-my-detail.html?noticeId=${obj.data.noticeId}`,
                        end: function(){
                            //刷新表格
                            table.reload('table-notice');
                        }
                    });

                }else{
                    layer.msg("功能还在路上~~");
                }
            })


            //搜索
            form.on('submit(search)', function(data){
                let field = data.field; // 获得表单字段
                // 执行搜索重载
                table.reload('table-notice', {
                    page: {
                        curr: 1, // 重新从第 1 页开始
                        prev:'上一页',
                        next:'下一页',
                        limit:10,
                        limits:[10,20,30,40,50],
                        theme:'#409eff'
                    },
                    where: field // 搜索的字段
                });
                return false; // 阻止默认 form 跳转
            });

            //表格渲染
            table.render({
                elem: '#table-notice',
                url: server_url+'/getMySysNoticePage',
                method:'POST',
                headers:{
                    'Authorization':token
                },
                skin:'line',
                height:'full',
                parseData: function(res){
                    return {
                        "code" : res.code,
                        "msg"  : res.msg,
                        "data" : res.data.records,
                        "count": res.data.total
                    }
                },
                page:{
                    prev:'上一页',
                    next:'下一页',
                    limit:10,
                    limits:[10,20,30,40,50],
                    theme:'#409eff'
                },
                request: {
                    pageName: 'pageNo', // 页码的参数名称，默认：page
                    limitName: 'pageSize' // 每页数据条数的参数名，默认：limit
                },
                cols: [[
                    {
                        title: '#',
                        type: 'numbers'
                    },
                    {
                        field:'noticeTitle',
                        title: '公告标题'
                    },
                    {
                        field:'noticeTypeName',
                        title:'公告类型'
                    },
                    {
                        title: '通知等级',
                        templet: function(d){
                            //公告级别(0-普通, 1-重要, 2-紧急)
                            let noticeLevel = d.noticeLevel;
                            if(noticeLevel==0){
                                return '<span class="yaya-tag yaya-tag-light-primary tag-small">低</span>';
                            }else if(noticeLevel==1){
                                return '<span class="yaya-tag yaya-tag-light-warning tag-small">中</span>';
                            }else{
                                return '<span class="yaya-tag yaya-tag-light-danger tag-small">高</span>';
                            }
                        }
                    },
                    {
                        field:'createTime',
                        width:200,
                        title: '发布时间'
                    },
                    {
                        field:'readTime',
                        width:200,
                        title: '阅读时间'
                    },
                    {
                        field:'deptName',
                        title: '发布人'
                    },
                    {
                        title:'状态',
                        templet: function(d){
                            return d.isRead==1? `<span class="yaya-tag yaya-tag-light-success tag-small">已读</span>`:`<span class="yaya-tag yaya-tag-light-danger tag-small">未读</span>`;
                        }
                    },
                    {
                        title: '操作',
                        fixed: 'right',
                        templet:function(){
                            return `
                                <button class="yaya-btn is-link-primary yaya-btn-small" lay-event="detail"><i style="font-size: 12px;margin-right: 2px;" class="iconfont icon-CRMEB-neirongzixun-xianxing"></i> 详情</button>
                            `;
                        }
                    }
                ]]
            })
        });
    </script>
</body>
</html>