<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaya.mapper.SysFileMapper">

    <select id="getFilePage" resultType="com.yaya.entity.SysFile">
        SELECT
            f.*,
            u.nickname,
            d.dept_name
        FROM
            sys_file f
            LEFT JOIN sys_user u ON u.user_id=f.create_id
            LEFT JOIN sys_department d ON d.dept_id=f.dept_id
        <where>
            <if test="fileServerUrl!=null and fileServerUrl!=''">
                f.file_server_url LIKE CONCAT('%',#{fileServerUrl},'%')
            </if>
            <if test="fileName!=null and fileName!=''">
                AND f.file_name LIKE CONCAT('%',#{fileName},'%')
            </if>
            <if test="fileType!=null and fileType!=''">
                <choose>
                    <when test="fileType=='image'">AND f.file_server_url LIKE '%/images/%'</when>
                    <when test="fileType=='video'">AND f.file_server_url LIKE '%/videos/%'</when>
                    <otherwise>AND f.file_server_url NOT LIKE '%/images/%' AND f.file_server_url NOT LIKE '%/videos/%'</otherwise>
                </choose>
            </if>
            <if test="nickname!=null and nickname!=''">
                AND u.nickname LIKE CONCAT('%',#{nickname},'%')
            </if>
            <if test="startTime!=null and endTime!=null">
                AND f.create_time <![CDATA[ >= ]]> #{startTime} AND f.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="deptId!=null">
                AND f.dept_id=#{deptId}
            </if>
        </where>
        ORDER BY update_time DESC
    </select>
    
    <select id="getVideoPage" resultType="com.yaya.entity.SysFile">
        SELECT
            f.*,
            u.nickname,
            d.dept_name
        FROM
            sys_file f
            LEFT JOIN sys_user u ON u.user_id=f.create_id
            LEFT JOIN sys_department d ON d.dept_id=f.dept_id
        <where>
            f.file_server_url LIKE '%/videos/%'
            <if test="fileName!=null and fileName!=''">
                AND f.file_name LIKE CONCAT('%',#{fileName},'%')
            </if>
            <if test="startTime!=null and endTime!=null">
                AND f.create_time <![CDATA[ >= ]]> #{startTime} AND f.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="deptId!=null">
                AND f.dept_id=#{deptId}
            </if>
        </where>
        ORDER BY f.update_time DESC
    </select>

</mapper>