<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaya.mapper.SysRoleMapper">

    <resultMap id="roleMap" type="com.yaya.entity.SysRole">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="dept_id" property="deptId" />
        <result column="role_code" property="roleCode" />
        <result column="role_type" property="roleType" />
        <result column="data_scope" property="dataScope" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association property="sysDepartment" javaType="com.yaya.entity.SysDepartment">
            <id column="dept_id" property="deptId" />
            <result column="dept_name" property="deptName" />
            <result column="dept_code" property="deptCode" />
        </association>
    </resultMap>
    <select id="getSysRolePage" resultMap="roleMap">
        SELECT
            r.role_id,
            r.role_name,
            r.dept_id,
            r.role_code,
            r.role_type,
            r.data_scope,
            r.`status`,
            r.create_time,
            r.update_time,
            d.dept_id,
            d.dept_name,
            d.dept_code
        FROM
        sys_role r
        LEFT JOIN sys_department d ON r.dept_id = d.dept_id
        <where>
            r.is_deleted=0
            <if test="deptId!=null">
                AND r.dept_id=#{deptId}
            </if>
            <if test="roleName!=null and roleName!=''">
                AND r.role_name LIKE CONCAT('%',#{roleName},'%')
            </if>
            <if test="roleType!=null">
                AND r.role_type=#{roleType}
            </if>
            <if test="status!=null">
                AND r.status=#{status}
            </if>
        </where>
    </select>

</mapper>